[submodule "simse-core"]
	path = simse-core
	url = https://github.com/simsedev/core.git
[submodule "simse-cli"]
	path = simse-cli
	url = https://github.com/simsedev/cli.git
[submodule "simse-brand"]
	path = simse-brand
	url = https://github.com/simsedev/brand.git
[submodule "simse-cloud"]
	path = simse-cloud
	url = https://github.com/simsedev/cloud.git
